.card__delete-button {
  width: 18px;
  height: 18px;
  background: transparent url('../../../images/delete-icon.svg') center no-repeat;
  display: none;
}

.card__delete-button:hover {
  opacity: 0.6;
}
